[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "ytcon"
version = "0.0.2"
authors = [
  {name="NikitaBeloglazov", email="nnikita.beloglazov@gmail.com"},
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.9"
dependencies = ["urwid", "pyperclip", "ffmpeg-python", "yt_dlp"]

classifiers = [
    "Programming Language :: Python :: 3",
    #"License :: MIT License",
    #"Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/NikitaBeloglazov/ytcon"
"Bug Tracker" = "https://github.com/NikitaBeloglazov/ytcon/issues"